
/*nav {
  background-color: antiquewhite !important;
} */
body {
  background-color: #222831 !important;
  font-family: "Archivo Black", sans-serif !important;
  font-size: 200px;
}
.navbar {
  padding: 0.1rem 0.7rem !important;
  background-color: #1f3564 !important;
}

.d-block {
  height:300px;
  width:100%;
  object-fit: cover;
}

.carousel{
  z-index:-1;
}

.tagline{
  padding:2em;
  color:white;
  font-family: Futura;
  font-variant: small-caps;
  text-align: center;
  font-size: 3vw;
}
.tagline1{
  padding:2em;
  color:white;
  font-family: Futura;
  font-variant: small-caps;
  text-align: center;
  font-size: 1.4vw;
}

.timeline{
  position:relative;
  max-width: 1200px;
  margin:100px auto;
  
}
.cont{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  
}

.aus-head{
  color:red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-style: bold;
}

.about-us{
  color:white;
  padding:2em;
  padding-top:0.5em;
  font-size: 1.2em;
  font-style: normal !important;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex:1;
}
.about-usb{
  color:black;
  padding:2em;
  padding-top:0.5em;
  font-size: 1.2em;
  font-style: normal !important;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex:1;
}

.img-class{
  width:35%;
  padding-right:1em;
  flex:1;
  padding-top:0.5em;

}

.row-project{
  border-style: solid;
  background-color: #e6e6fa;
  padding-top:0.5em;
  margin:10px;
  border-width: 10px;
  border-color: #d4af37;
}

.achv-item{
  width:100%;
  display:flex;
}


.achievements{
  width:100%;
}

.left-cont{
  left: 0;
}
.right-cont{
  left:50%;
}
.text-box{
  padding: 20px 30px;
  background: #4c74c9;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.text-box h2{
  color: white;
}
.text-box small{
  color: white;
}
.timeline::after{
  content:'';
  position: absolute;
  width: 8px;
  height: 100%;
  background: white;
  top: 0;
  left: 49.5%;
  margin-left: -3 px;
  z-index: -1;
  animation: moveline 6s linear forwards infinite;
}

@keyframes moveline{
  0%{
    height:0;
  }
  100%{
    height: 100%;
    
  }
}
.left-cont-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top:28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #4c74c9;
  right: -15px;
}
.right-cont-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top:28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #4c74c9;
  left: -15px;
}
.navbar-brand {
  color: white !important; /* Darker */
  font-weight: bolder;
  font-size: 20px;
}
.nav-link {
  color: white !important;
}
.table {
  font-family: "Montserrat", sans-serif;
}
.navbar-item img {
  max-height: 3.75rem !important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
.background_blue{
  width: 1160px;
  
  
  padding: 10px;
  border: 30px ;
  border-style: solid;
  border-color:#4c74c9;
  margin: 10px; 
}
.cont1{
  width: 100%;
  display: flex;
  justify-content: center;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
.button {
width: fit-content;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #4c74c9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #1a2b50;
color:white;
border: solid;
border-radius:15px;
border-color:white;}

.button:active {
  background-color: #1a3e8e;
  box-shadow: 0 5px #947ce9;
  transform: translateY(4px);
}
.swiper-slide{
  display:flex;
  vertical-align: middle;
}


  .board {
    margin: 30px auto;
    width: 53%;
    height: 53%;
    max-width: 700px;
    display: flex;
    border-radius: 27px;
    background: linear-gradient(145deg, #1f242c, #242b34);
    box-shadow: 12px 12px 12px #101317, -12px -12px 12px #343d4b;
  }
  .cont2{
    position: relative;
    float: left;
  }
  .imag{
    position: relative;
    z-index: 900px;
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .imagc{
    position: relative;
    z-index: 900px;
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .imag img{
    position: relative;
  left: -20px;
  top: -20px;
  z-index: ;
  }
  .imag1{
    width: 40%;
    height: 40%;
    float: right;
    padding: 5px;
  }
  .board1 {
    margin: 30px auto;
    width: 53%;
    height: 53%;
    max-width: 700px;
    display: flex;
    border-radius: 27px;
    background: linear-gradient(145deg, #1f242c, #242b34);
    box-shadow: 12px 12px 12px #101317, -12px -12px 12px #343d4b;
  }
  .div-img{

  }

  .techspecs{
    display: flex;
    justify-content: center;
  }
  
#boar img{
    transition: transform 10s;
    width:50px;
    height:50px;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
#boar:hover{
    transform:scale(1.2);
}
/* .board {
  margin: 10px auto;
  width: 300px;
  height: 650px;
  display: flex;
  border-radius: 70px;
  background: linear-gradient(25deg, #051226, #242b34);
  box-shadow: 12px 12px 12px #36404d, -12px -12px 12px #697385;
} */


.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
#specs {
  margin: auto;
  display: grid;
  margin-top: 45px;
}
#kit-content {
  margin: auto;
  display: grid;
  margin-top: 45px;
}
#comparison {
  margin-top: 45px;
  display: grid;
}
#projects {
  margin-top: 45px;
}
#images {
  margin-top: 45px;
}
.cfi {
  border-radius: 0px;
  background: #4a4a4a;
  box-shadow: 11px 11px 22px #212121, -11px -11px 22px #737373;
}
.articles {
  max-width: 700px;
  margin: 50px auto;
}
.articles li {
  margin: 25px;
}
p,
h5,
h4,
ul,
ol {
  color: white;
}
@media screen and (max-width:900px)
{
  .tagline{
    font-size:5.7vw;
  }
  .tagline1{
    font-size:4vw;
  }
  .row-project{
    display:flex;
    flex-flow: column;
    object-fit: cover;
  }
  .swiper{order:1;}
  .colss{order:2;}
  .swiper-slide img{
    padding-right:200px;  }
    .imag{
      position: relative;
      float: left;
      width: 20%;
      padding: 5px;
      padding-top:50vw;
    }
    .imagc{
      position: relative;
      float: left;
      width: 60%;
      padding: 5px;
    }
    .para{
      position:relative;
      padding-top:80vw;
    }
    .para p{
      font-size:15px;
    }
    .navbar-brand strong{
      font-size:17px;
    }
    .swiper .myswiper{
      width:10px;
    }


}

