body {
    background-image: url('https://cfi.iitm.ac.in/elec-club/images/10bd4.jpg');
    background-attachment: fixed;
}

.imag{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px){
    .imag{
        display: none;
    }
}

@media only screen and (max-width: 767px){
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 200px;
    }
}

@media only screen and (min-width: 768px){
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height:500px;
    }
}

.imagc {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @keyframes flash {
    0% { background-color: darkcyan; }
    20% { background-color: white; }
    40% { background-color: darkcyan; }
  }

  @keyframes flash2 {
    0% { background-color: rgb(64, 64, 196); }
    20% { background-color: white; }
    40% { background-color: rgb(64, 64, 196); }
  } */

/* .register:hover{
    animation:none;
    background-color: #64ca75;
} */

.specs1 {
    display:flex;
    justify-content: center;
    overflow-x: clip;
    padding-left:160px;
    padding-right:160px;
    height: 400px; 
    overflow-y: scroll; 
    padding-top: 2em;
}

.specs2 {
    display:flex;
    justify-content: center;
    
}

/* width */
#specs::-webkit-scrollbar {
    width: 15px;
  }
  


/* Handle */
#specs::-webkit-scrollbar-thumb {
    background: #D089FF;
    border-radius: 10px;
}

/* Handle on hover *
#specs::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 12, 90);
}

/* width */
#scroller::-webkit-scrollbar {
    width: 15px;
  }
  
  @media only screen and (max-width: 767px){
    #scroller {
        width:80vw;
        height:30vh;
        overflow-x: scroll;

    }
    .esp32web{
        width:200vw;
        height:auto;
    }
}

@media only screen and (min-width: 767px){
    .esp32web{
        width: 100%;
        height: auto;
    }
}


/* Handle */
#scroller::-webkit-scrollbar-thumb {
    background: #64ca75;
    border-radius: 10px;
}

/* Handle on hover */
#scroller::-webkit-scrollbar-thumb:hover {
    background: rgb(28, 88, 38);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagc img{
    width: 60%
}
.imag img{
    display:flex;
    justify-content: center;
}


#boar img{
    transition: transform 10s;
    width:50px;
    height:50px;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}

#boar:hover{
    transform:scale(1.2);
}
